.box1{
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 40px;
}

.box2{
    padding: 10px;
    padding: 10px 20px;
    padding: 10px 20px 30px;
    padding: 10px 20px 30px 40px;
}

.box3{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 40px;
}

.box4{
    margin: 10px;
    margin: 10px 20px;
    margin: 10px 20px 30px;
    margin: 10px 20px 30px 40px;
}

.mix-borders{
    background-color: aquamarine;
    height: 40px;
    width: 200px;
    border-style: dashed;
    border-style: dotted;
    border-style: double;
    border-style: solid;
    border-width: 4px 8px 10px 20px;
    border-width: 8px;
    border-color: blue;
    /* Border Shorthand */
    border: red 2px dotted;
}